/* css default styles reset */
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: inherit;
    box-sizing: border-box;
}

/* Table of contents
 * 1. Base rules
 * 2. Layout rules
 * 3. Module rules
 * 4. State rules
 * 5. Theme rules
 */

/* ====== Base rules ====== */



/* ====== Layout rules ====== */

#top-bar {
    display: flex;
    flex-direction: col;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 50px;
}

/* ====== Module rules ====== */

#top-bar {
    background-color: black;
    color: white;
}

/* ====== State rules ====== */

/* ====== Theme rules ====== */